<footer class="text-center">
    <a  href="https://github.com/DavitBoo"><i class="devicon-github-original"></i></a>
    <p>This is de Beta version. I will add some future changes and improvements.</p>
</footer>
