<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Signup</h1>
    <p><%= message %></p>
    <a href="/dashboard/signup">Sign Up</a>
  </body>
</html>
