<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join the club</title>
</head>
<body>
    <h1>Membership Activation</h1>
    <form method="POST" action="/dashboard/join-the-club">
        <label for="code">Activation code</label>
        <input type="hidden" value="<%= currentUser._id %>" name="userId">
        <input type="text" name="code" id="code">
        <button type="submit">Activate membership</button>
    </form>

</body>
</html>