<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-8">
            
          <form class="p-3 text-center" method="POST" action="/dashboard/join-the-club">
                    <h2 class="text-center">Membership Activation</h2>
                    <div class="mb-3">
                        <label class="form-label" for="code">Activation code</label>
                        <input class="form-control" type="text" name="code" id="code">
                    </div>
                    <input type="hidden" value="<%= currentUser._id %>" name="userId">
                    <button class="btn btn-primary" type="submit">Activate membership</button>
                </form>
        </div>
    </div>
</div>

