<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col">
<form class="p-4" method="POST" action="user-panel">
    <h1>User Panel</h1>

    <ul >
        <% users.forEach(function(user) { %>
            
            <li class="mb-2"><%= user.username %> 
                - Status:
                <select name="userStatus">
                    <option value="guest" <% if (user.status === "guest") { %>selected<% } %>>Guest</option>
                    <option value="member" <% if (user.status === "member") { %>selected<% } %>>Member</option>
                    <option value="admin" <% if (user.status === "admin") { %>selected<% } %>>Admin</option>
                </select>
            </li>
            <input type="hidden" name="usernames" value="<%= user.username %>" >
        <% }); %>
    </ul>
    <input class="btn btn-primary" type="submit" value="Save">
</form>
</div>
</div>
</div>